pygraphviz --global-option=build_ext --global-option="-I/usr/local/include/graphviz/" --global-option="-L/usr/local/lib/graphviz" --global-option="-I/opt/homebrew/include/graphviz/" --global-option="-L/opt/homebrew/lib/graphviz"
tabulate
setuptools_scm>=1.15.0
